header {
  display: flex;
  padding: 10px 20px;
  background: rgb(50 50 50 / 86%);
  box-shadow: 0 2px 5px #0000004d;

  h1 {
    color: #ffffff;
    margin: 0;
  }

}

.content {
  margin: 20px 70px;
}

